<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <th>Date</th>
            <th>Reading</th>
        </tr>

        {% for item in results1 %}
        <tr> 
            <td>{{ item.date }}</td>
            <td>{{ item.reading }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>Date</th>
            <th>Reading</th>
        </tr>

        {% for item in results2 %}
        <tr> 
            <td>{{ item.date }}</td>
            <td>{{ item.reading }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>Date</th>
            <th>Reading</th>
        </tr>

        {% for item in results3 %}
        <tr> 
            <td>{{ item.date }}</td>
            <td>{{ item.reading }}</td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>